@model BlogMvc.Models.Yorum

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Yorum</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.YorumID)

        <div class="form-group">
            @Html.LabelFor(model => model.Icerik, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Icerik, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Icerik)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.UyeID, "UyeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UyeID", String.Empty)
                @Html.ValidationMessageFor(model => model.UyeID)
            </div>
        </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.UyeID, "UyeID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UyeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UyeID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MakaleID, "MakaleID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MakaleID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MakaleID, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.MakaleID, "MakaleID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MakaleID", String.Empty)
                @Html.ValidationMessageFor(model => model.MakaleID)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Tarih, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tarih)
                @Html.ValidationMessageFor(model => model.Tarih)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


