@model IEnumerable<BlogMvc.Models.Yorum>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}



<p>
    @Html.ActionLink("Yeni Yorum", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Makale.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uye.KullanıcıAdı)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Makale.Baslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uye.KullanıcıAdı)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Icerik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarih)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.YorumID }) |
            @Html.ActionLink("Detay", "Details", new { id=item.YorumID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.YorumID })
        </td>
    </tr>
}

</table>
