@model BlogMvc.Models.Uye

@{
 
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}



<div>
    <h4>Uye</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Yetki.YetkiAdı)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yetki.YetkiAdı)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KullanıcıAdı)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullanıcıAdı)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>

        <dt>
           <img src="@Model.Foto" width="75" class="img-circle" />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UyeID }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>
